<!DOCTYPE html>
<html>
  <head>
    <title>评论详情页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>评论详情页</h1>
    <h2>标题：<%= res[0].title %></h2>
    <p>内容：<%= res[0].content %></p>
    <p>id:<%= res[0].uid %></p>
  </body>
</html>
