<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<form action="/users/save" method="post">
			<input type="text" placeholder="请输入你的大名" />
			<input type="submit" value="提交"/>
		</form>
	</body>
</html>
