<!DOCTYPE html>
<html>
  <head>
    <title>注册页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>注册页</h1>
    <form method="post" action="/users/register">
	    <input type="text" placeholder="用户名" name="username" />
	    <input type="password" name="psw" />
	    <input type="password" name="repsw" />
	    <input type="submit" value="提交注册" />
    </form>
    
  </body>
</html>
